{% extends "djangoapp/index.html" %}
{% block content %}
<form action="{% url 'djangoapp:login' %}"  method="post">
    {% csrf_token %}
    <div class="container">
      <h1>Login</h1>
      <label for="username"><b>User Name</b></label>
      <b>
      <input type="text" placeholder="Enter User Name: " name="username" required>
      </b>
      <label for="psw"><b>Password</b></label>
      <b>
      <input type="password" placeholder="Enter Password: " name="psw" required>
      </b>
      <div>
        <button class="button" type="submit">Login</button>
      </div>
    </div>
  </form>
{% endblock %}